# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [179]:
from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [5]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [242]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [233]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [8]:
document = ET.parse( './data/mondial_database.xml' )

In [281]:
# First
# List available tags/attributes of random country (not exhaustive) for convenience

for child in document.getroot()[1]:
        print child.tag

name
localname
population
population
population
population
population
population
population
population
population
population
population
population
population
population
population
population_growth
infant_mortality
gdp_total
gdp_agri
gdp_ind
gdp_serv
inflation
unemployment
indep_date
government
encompassed
ethnicgroup
religion
religion
language
border
border
border
border
province
province
province
province
province
province
province
province
province
province
province
province
province
province

In [267]:
# For reference, a pd df of all possible tags and attributes

tags_attributes_dict = {'Tags': [],
                        'Attributes' : []}

for child in document.getroot():
    tags_attributes_dict['Tags'].append(child.tag)
    tags_attributes_dict['Attributes'].append(child.attrib)
        
tags_attributes_df = pd.DataFrame(data=tags_attributes_dict)
tags_attributes_df.head()

                                          Attributes     Tags
0  {u'memberships': u'org-BSEC org-CEI org-CD org...  country
1  {u'memberships': u'org-AG org-BIS org-BSEC org...  country
2  {u'memberships': u'org-BIS org-CEI org-CD org-...  country
3  {u'memberships': u'org-BIS org-BSEC org-CEI or...  country
4  {u'memberships': u'org-CEI org-CD org-SELEC or...  country

In [42]:
# First thing's first:
# Create a dict with which to create a pandas DataFrame, for easy manipulation
# Rates stored as floates to avoid sort issue

IM_dict = {'Country' : [],
           'Infant_Mortality_Rate' : []}

for child in document.iterfind('country'):
    if child.find('infant_mortality') is not None:
        IM_dict['Country'].append(child.find('name').text)
        IM_dict['Infant_Mortality_Rate'].append(float(child.find('infant_mortality').text))

infant_mortality_df = pd.DataFrame(data=IM_dict)
infant_mortality_df

                    Country  Infant_Mortality_Rate
0                   Albania                  13.19
1                    Greece                   4.78
2                 Macedonia                   7.90
3                    Serbia                   6.16
4                   Andorra                   3.69
5                    France                   3.31
6                     Spain                   3.33
7                   Austria                   4.16
8            Czech Republic                   2.63
9                   Germany                   3.46
10                  Hungary                   5.09
11                    Italy                   3.31
12            Liechtenstein                   4.33
13                 Slovakia                   5.35
14                 Slovenia                   4.04
15              Switzerland                   3.73
16                  Belarus                   3.64
17                   Latvia                   7.91
18                Lithuania                   6.00
19                   Poland                   6.19
20                  Ukraine                   8.10
21                   Russia                   7.08
22                  Belgium                   4.18
23               Luxembourg                   4.28
24              Netherlands                   3.66
25   Bosnia and Herzegovina                   5.84
26                  Croatia                   5.87
27                 Bulgaria                  15.08
28                  Romania                  10.16
29                   Turkey                  21.43
..                      ...                    ...
198                    Chad                  90.30
199       Equatorial Guinea                  71.12
200                   Gabon                  47.03
201              Cape Verde                  24.28
202                   Sudan                  52.86
203             South Sudan                  68.16
204                 Comoros                  65.31
205                  Guinea                  55.24
206                 Liberia                  69.19
207                Djibouti                  50.20
208                 Eritrea                  38.44
209                Ethiopia                  55.77
210                 Somalia                 100.14
211                   Kenya                  40.71
212                  Gambia                  65.74
213                 Senegal                  52.72
214           Guinea-Bissau                  90.92
215            Sierra Leone                  73.29
216                  Uganda                  60.82
217                 Lesotho                  50.48
218              Madagascar                  44.88
219                  Malawi                  48.01
220              Mozambique                  72.42
221               Mauritius                  10.59
222                 Mayotte                  56.29
223               Swaziland                  54.82
224                 Reunion                   7.50
225            Saint Helena                  17.63
226   Sao Tome and Principe                  49.16
227              Seychelles                  10.77

[228 rows x 2 columns]

In [45]:
# Next
# Top Ten Lowest mortality rates

infant_mortality_df.sort_values(by='Infant_Mortality_Rate')[:10]

            Country  Infant_Mortality_Rate
36           Monaco                   1.81
90            Japan                   2.13
109         Bermuda                   2.48
34           Norway                   2.48
98        Singapore                   2.53
35           Sweden                   2.60
8    Czech Republic                   2.63
72        Hong Kong                   2.73
73            Macao                   3.13
39          Iceland                   3.15

In [91]:
# 2. First, 
#    populate a pandas DataFrame with City Population Data

CityPop_dict = {'City' : [],
           'Population' : []}

for child in document.iterfind('country'):
    for subchild in child.getiterator('city'):
        if subchild.find('name') is not None:
            CityPop_dict['City'].append(subchild.find('name').text)
        if subchild.find('population') is not None:
            CityPop_dict['Population'].append(int(subchild.find('population').text))
        else:
            CityPop_dict['Population'].append(0)

City_Population_df = pd.DataFrame(data=CityPop_dict)
City_Population_df

              City  Population
0           Tirana      192000
1          Shkodër       62000
2           Durrës       60000
3            Vlorë       56000
4          Elbasan       53000
5            Korçë       52000
6         Komotini           0
7           Kavala       56705
8           Athina      885737
9         Peiraias      196389
10       Peristeri      141971
11        Acharnes       65035
12           Patra      142163
13          Kozani           0
14         Kerkyra      101236
15        Ioannina       92425
16    Thessaloniki      406413
17         Iraklio      102398
18          Chania       83712
19       Ermoupoli           0
20          Rhodes       96159
21         Tripoli           0
22           Lamia       75315
23        Chalkida       85573
24         Larissa      102426
25           Volos       71378
26        Mytilini           0
27          Karyes         233
28          Skopje      506926
29        Kumanovo      105484
...            ...         ...
3350        Mukono        3565
3351        Maseru       75000
3352   Antsiranana       59040
3353  Antananarivo      710236
3354     Antsirabe      126062
3355  Fianarantsoa      109260
3356       Majunga      106780
3357      Tamatave      137782
3358       Toliara       80826
3359      Lilongwe      223318
3360      Blantyre      333120
3361         Pemba       84897
3362       Xai-Xai       99442
3363     Inhambane       52370
3364       Chimoio      108818
3365  Nacala Porto      125208
3366        Matola      337239
3367       Nampula      250473
3368      Lichinga       85758
3369         Beira      298847
3370          Tete      112221
3371     Quelimane      146206
3372        Maputo      931591
3373    Port Louis           0
3374     Mamoutzou           0
3375       Mbabane       38290
3376   Saint-Denis      131557
3377     Jamestown           0
3378      São Tomé       49957
3379      Victoria       24970

[3380 rows x 2 columns]

In [92]:
# 2. Next, find
#    Top 10 Cities by Population

City_Population_df.sort_values(by='Population', ascending=False)[:10]

                  City  Population
1928             Seoul    10229262
1527            Mumbai     9925891
2810         São Paulo     9412894
1757           Jakarta     8259266
1341          Shanghai     8205598
2109  Ciudad de México     8092449
479             Moskva     8010954
1876             Tokyo     7843000
1340           Beijing     7362426
1582             Delhi     7206704

In [231]:
# 3. Largest Population of Ethnic Groups. 
#    First, 
#    populate a pandas DataFrame with Ethnic Group Population Data

EthnicGp_dict = {'Ethnicity' : [],
                 '% of Country Population' : [],
                 'Country' : [],
                 'Country Population' : []}


for child in document.iterfind('country'):
    EthnicGp_dict['Country'].append(child.find('name').text)
    EthnicGp_dict['Country Population'].append(float(child.find('population').text))
    if child.find('ethnicgroup') is not None:
        EthnicGp_dict['Ethnicity'].append(child.find('ethnicgroup').text)
        EthnicGp_dict['% of Country Population'].append(float
                                           (child.find('ethnicgroup').attrib['percentage']))
    else: 
        EthnicGp_dict['Ethnicity'].append(np.nan)
        EthnicGp_dict['% of Country Population'].append(np.nan)
        
EthnicGp_df = pd.DataFrame(data=EthnicGp_dict)
EthnicGp_df

,% of Country Population,Country,Country Population,Ethnicity
0,95.00,Albania,1214489.0,Albanian
1,93.00,Greece,1096810.0,Greek
2,64.20,Macedonia,808724.0,Macedonian
3,82.90,Serbia,6732256.0,Serb
4,43.00,Montenegro,311341.0,Montenegrin
5,92.00,Kosovo,1584440.0,Albanian
6,43.00,Andorra,6197.0,Spanish
7,NaN,France,40502513.0,NaN
8,100.00,Spain,18618086.0,Mediterranean Nordic
9,91.10,Austria,4497873.0,Austrian
10,90.40,Czech Republic,8876260.0,Czech
11,91.50,Germany,68230796.0,German
12,92.30,Hungary,9204799.0,Hungarian
13,NaN,Italy,22182377.0,NaN
14,5.00,Liechtenstein,13757.0,Italian
15,85.70,Slovakia,3436574.0,Slovak
16,91.00,Slovenia,1101854.0,Slovene
17,65.00,Switzerland,4668088.0,German
18,81.20,Belarus,7745003.0,Belorussian
19,59.30,Latvia,1929387.0,Latvian
20,84.00,Lithuania,2567402.0,Lithuanian
21,1.30,Poland,23929757.0,German
22,77.80,Ukraine,37297652.0,Ukrainian
23,79.80,Russia,102798657.0,Russian
24,58.00,Belgium,8879814.0,Fleming
25,63.10,Luxembourg,290992.0,Luxembourgish
26,80.70,Netherlands,2078487.0,Dutch
27,48.00,Bosnia and Herzegovina,2565277.0,Muslim
28,89.60,Croatia,3850295.0,Croat
29,76.90,Bulgaria,3154375.0,Bulgarian
...,...,...,...,...
214,NaN,Chad,2502314.0,NaN
215,NaN,Equatorial Guinea,225536.0,NaN
216,NaN,Gabon,473300.0,NaN
217,1.00,Cape Verde,148331.0,European
218,70.00,Sudan,5733944.0,Arab
219,NaN,South Sudan,4929267.0,NaN
220,NaN,Comoros,156334.0,NaN
221,30.00,Guinea,3093651.0,Malinke
222,95.00,Liberia,930026.0,African
223,5.00,Djibouti,62001.0,Italian
224,55.00,Eritrea,1141300.0,Tigrinya
225,34.50,Ethiopia,18128034.0,Oromo
226,85.00,Somalia,2264081.0,Somali
227,1.00,Kenya,6076757.0,Arab
228,99.00,Gambia,271372.0,African
229,17.00,Senegal,2476638.0,Fulani
230,1.00,Guinea-Bissau,510777.0,European
231,1.00,Sierra Leone,1944001.0,Asian
232,6.00,Uganda,5158193.0,Rwanda
233,99.70,Lesotho,733942.0,Sotho
234,NaN,Madagascar,4083554.0,NaN
235,NaN,Malawi,2880700.0,NaN
236,0.06,Mozambique,5738911.0,European
237,27.00,Mauritius,181318.0,Creole
238,NaN,Mayotte,212645.0,NaN
239,3.00,Swaziland,273000.0,European
240,NaN,Reunion,706300.0,NaN
241,50.00,Saint Helena,7637.0,African descent
242,100.00,Sao Tome and Principe,60490.0,European
243,100.00,Seychelles,36322.0,Seychellois

In [284]:
# It seems that there are a number of Ethnic Groups for which there is no population data.


EthnicGp_df.sort_values(by='Ethnicity')
EthnicGp_df[EthnicGp_df['Ethnicity'].isnull() == True]
#EthnicGp_df[EthnicGp_df['Ethnicity'] == 'Albanian']

,% of Country Population,Country,Country Population,Ethnicity
7,NaN,France,40502513.0,NaN
13,NaN,Italy,22182377.0,NaN
32,NaN,Denmark,4281275.0,NaN
39,NaN,Gibraltar,1816.0,NaN
41,NaN,Holy See,840.0,NaN
42,NaN,Ceuta,73182.0,NaN
43,NaN,Melilla,79056.0,NaN
46,NaN,San Marino,12781.0,NaN
48,NaN,Malta,305991.0,NaN
49,NaN,Isle of Man,55253.0,NaN
51,NaN,Portugal,3829618.0,NaN
57,NaN,Pakistan,37542380.0,NaN
76,NaN,North Korea,6014099.0,NaN
81,NaN,Nepal,5638749.0,NaN
83,NaN,Cocos Islands,628.0,NaN
89,NaN,Timor-Leste,433398.0,NaN
90,NaN,Papua New Guinea,1708192.0,NaN
99,NaN,South Korea,20166756.0,NaN
100,NaN,Maldives,73716.0,NaN
101,NaN,Oman,456418.0,NaN
103,NaN,Yemen,4661279.0,NaN
110,NaN,Antigua and Barbuda,35157.0,NaN
112,NaN,Bahamas,79088.0,NaN
136,NaN,Montserrat,12120.0,NaN
137,NaN,Curacao,50165.0,NaN
138,NaN,Sint Maarten,1497.0,NaN
139,NaN,Saint Martin,29820.0,NaN
140,NaN,Saint Barthelemy,8673.0,NaN
146,NaN,Saint Vincent and the Grenadines,61647.0,NaN
149,NaN,Virgin Islands,26665.0,NaN
163,NaN,Norfolk Island,2209.0,NaN
165,NaN,Palau,7441.0,NaN
168,NaN,Tonga,47220.0,NaN
184,NaN,Venezuela,5093708.0,NaN
194,NaN,Western Sahara,222631.0,NaN
196,NaN,Congo,807726.0,NaN
197,NaN,Namibia,228910.0,NaN
209,NaN,Burundi,2308923.0,NaN
214,NaN,Chad,2502314.0,NaN
215,NaN,Equatorial Guinea,225536.0,NaN
216,NaN,Gabon,473300.0,NaN
219,NaN,South Sudan,4929267.0,NaN
220,NaN,Comoros,156334.0,NaN
234,NaN,Madagascar,4083554.0,NaN
235,NaN,Malawi,2880700.0,NaN
238,NaN,Mayotte,212645.0,NaN
240,NaN,Reunion,706300.0,NaN

In [225]:
# Thus, filter out null values and
# Sum up total populations from all countries for each Ethnicity

EthnicityTotals_dict = {'Ethnicity' : [],
                        'Total Population' : []}

for index, row in EthnicGp_df[EthnicGp_df['Ethnicity'].isnull() == False].iterrows():
    if row['Ethnicity'] not in EthnicityTotals_dict['Ethnicity']:
        EthnicityTotals_dict['Ethnicity'].append(row['Ethnicity'])
        EthnicityTotals_dict['Total Population'].append( int( (row['% of Country Population'] * row['Country Population']) / 100) )
    else:
        Eth_index = EthnicityTotals_dict['Ethnicity'].index(row['Ethnicity'])
        EthnicityTotals_dict['Total Population'][Eth_index] += int( (row['% of Country Population'] * row['Country Population']) / 100 )

In [229]:
# Populate a pandas DataFrame with Ethnic Group Population Totals

EthnicGp_Totals_df = pd.DataFrame(data=EthnicityTotals_dict)
EthnicGp_Totals_df.sort_values(by='Total Population', ascending=False)

                         Ethnicity  Total Population
39                     Han Chinese         497555113
58                        European         178754270
18                         Russian          82033328
61                        Japanese          81706273
9                           German          65776521
48                       Dravidian          59599081
70                         African          47042940
37                         English          42314986
59                        Javanese          32666486
66                         Mestizo          31186104
17                       Ukrainian          29017573
46                         Bengali          28349230
53                       Viet/Kinh          21381693
6             Mediterranean Nordic          18618086
25                        Romanian          14142507
26                         Turkish          11538247
40                            Arab          10541826
10                       Hungarian           8496029
8                            Czech           8024139
96                           Bantu           7267277
14                     Belorussian           6288942
99                           Oromo           6254171
31                           Swede           5818227
3                             Serb           5581040
91                 Mangbetu-Azande           5482647
19                         Fleming           5150292
42                           Uzbek           5051197
54                          Kazakh           4229590
7                         Austrian           4097562
29                            Finn           3743751
..                             ...               ...
20                   Luxembourgish            183615
84                     East Indian            163429
4                      Montenegrin            133876
93                        Batswana            114737
49                           Bhote             88397
34                            Celt             78470
33                   Norman-French             72252
85                      Hindustani             67961
75                      Polynesian             62495
79                           Asian             52335
104                         Creole             48955
106                    Seychellois             36322
77                     Micronesian             35900
62                     South Asian             34795
28                    Scandinavian             31781
65   European/Caribbean Amerindian             30452
68                   Carib Indians             27178
64                           Black             23939
76                        Chamorro             22073
32                          French             17453
73                 Basques Bretons              4606
105                African descent              3818
11                         Italian              3787
71                          Danish              3376
5                          Spanish              2664
86                       Christian              1372
78                      Vietnamese               958
74                       Caucasian               378
81                       Europeans               328
80                          Bounty                68

[107 rows x 2 columns]

In [228]:
# Filter out Top 10 Ethnic Groups by Population

EthnicGp_Totals_df.sort_values(by='Total Population', ascending=False)[:10]

      Ethnicity  Total Population
39  Han Chinese         497555113
58     European         178754270
18      Russian          82033328
61     Japanese          81706273
9        German          65776521
48    Dravidian          59599081
70      African          47042940
37      English          42314986
59     Javanese          32666486
66      Mestizo          31186104

In [283]:
for child in document.getroot():
    if child.tag == 'river':
        print child.attrib

{'country': 'IS', 'id': 'river-Thjorsa'}
{'country': 'IS', 'id': 'river-Joekulsa_a_Fjoellum'}
{'country': 'N', 'id': 'river-Glomma'}
{'country': 'N', 'id': 'river-Lagen'}
{'country': 'S', 'id': 'river-Goetaaelv'}
{'country': 'N S', 'id': 'river-Klaraelv'}
{'country': 'S', 'id': 'river-Umeaelv'}
{'country': 'S', 'id': 'river-Dalaelv'}
{'country': 'S', 'id': 'river-Vaesterdalaelv'}
{'country': 'S', 'id': 'river-Oesterdalaelv'}
{'country': 'SF N R', 'id': 'river-Paatsjoki'}
{'country': 'SF', 'id': 'river-Ounasjoki'}
{'country': 'SF', 'id': 'river-Kemijoki'}
{'country': 'SF', 'id': 'river-Oulujoki'}
{'country': 'SF', 'id': 'river-Kymijoki'}
{'country': 'SF', 'id': 'river-Kokemaeenjoki'}
{'country': 'SF R', 'id': 'river-Vuoksi'}
{'country': 'GB', 'id': 'river-Themse'}
{'country': 'NL B F', 'id': 'river-Maas'}
{'country': 'F', 'id': 'river-Loire'}
{'country': 'F E', 'id': 'river-Garonne'}
{'country': 'F CH', 'id': 'river-Rhone'}
{'country': 'F', 'id': 'river-Saone'}
{'country': 'F CH', 'id': 'river-Doubs'}
{'country': 'F', 'id': 'river-Isere'}
{'country': 'F', 'id': 'river-Seine'}
{'country': 'F', 'id': 'river-Marne'}
{'country': 'E P', 'id': 'river-Tajo'}
{'country': 'E P', 'id': 'river-Douro'}
{'country': 'E P', 'id': 'river-Guadiana'}
{'country': 'E', 'id': 'river-Guadalquivir'}
{'country': 'E', 'id': 'river-Ebro'}
{'country': 'I', 'id': 'river-Po'}
{'country': 'CH I', 'id': 'river-Ticino'}
{'country': 'I', 'id': 'river-Adda'}
{'country': 'I', 'id': 'river-Mincio'}
{'country': 'I', 'id': 'river-Etsch'}
{'country': 'I', 'id': 'river-Tiber'}
{'country': 'I', 'id': 'river-Arno'}
{'country': 'SRB A D H HR SK BG RO MD UA', 'id': 'river-Donau'}
{'country': 'D', 'id': 'river-Breg'}
{'country': 'D', 'id': 'river-Brigach'}
{'country': 'D A', 'id': 'river-Iller'}
{'country': 'D A', 'id': 'river-Lech'}
{'country': 'D A', 'id': 'river-Isar'}
{'country': 'D', 'id': 'river-Ammer'}
{'country': 'D', 'id': 'river-Wurm'}
{'country': 'CH A D', 'id': 'river-Inn'}
{'country': 'D', 'id': 'river-Alz'}
{'country': 'A D', 'id': 'river-Salzach'}
{'country': 'A', 'id': 'river-Enns'}
{'country': 'CZ SK A', 'id': 'river-March'}
{'country': 'A H', 'id': 'river-Raab'}
{'country': 'SK', 'id': 'river-Waag'}
{'country': 'I A SLO HR H', 'id': 'river-Drau'}
{'country': 'A H SLO HR', 'id': 'river-Mur'}
{'country': 'H UA SRB', 'id': 'river-Theiss'}
{'country': 'SLO HR BIH SRB', 'id': 'river-Save'}
{'country': 'BIH SRB', 'id': 'river-Drina'}
{'country': 'MNE BIH', 'id': 'river-Tara'}
{'country': 'MNE BIH', 'id': 'river-Piva'}
{'country': 'SRB', 'id': 'river-Morava'}
{'country': 'SRB', 'id': 'river-WesternMorava'}
{'country': 'SRB KOS MK', 'id': 'river-SouthernMorava'}
{'country': 'RO', 'id': 'river-Olt'}
{'country': 'RO MD UA', 'id': 'river-Pruth'}
{'country': 'UA MD', 'id': 'Dnjestr'}
{'country': 'D', 'id': 'river-Weser'}
{'country': 'D', 'id': 'river-Aller'}
{'country': 'D', 'id': 'river-Leine'}
{'country': 'D', 'id': 'river-Werra'}
{'country': 'D', 'id': 'river-Fulda'}
{'country': 'D CZ', 'id': 'river-Elbe'}
{'country': 'CZ', 'id': 'river-Moldau'}
{'country': 'D CH FL A F NL', 'id': 'river-Rhein'}
{'country': 'D', 'id': 'river-Main'}
{'country': 'D L F', 'id': 'river-Mosel'}
{'country': 'D F', 'id': 'river-Saar'}
{'country': 'D', 'id': 'river-Neckar'}
{'country': 'CH', 'id': 'river-Aare'}
{'country': 'CH', 'id': 'river-Reuss'}
{'country': 'CH', 'id': 'river-Limmat'}
{'country': 'D PL CZ', 'id': 'river-Oder'}
{'country': 'PL', 'id': 'river-Weichsel'}
{'country': 'PL BY', 'id': 'river-Narew'}
{'country': 'PL BY UA', 'id': 'river-WesternBug'}
{'country': 'MNE', 'id': 'river-Moraca'}
{'country': 'AL MNE', 'id': 'river-Buna'}
{'country': 'AL', 'id': 'river-Drin'}
{'country': 'AL KOS', 'id': 'river-Weisser_Drin'}
{'country': 'AL MK', 'id': 'river-Schwarzer_Drin'}
{'country': 'IL WEST JOR SYR RL', 'id': 'river-Jordan'}
{'country': 'TR GE AZ', 'id': 'river-Kura'}
{'country': 'IRQ IR', 'id': 'river-SchattAlArab'}
{'country': 'TR SYR IRQ', 'id': 'river-Tigris'}
{'country': 'TR SYR IRQ', 'id': 'river-Euphrat'}
{'country': 'TR', 'id': 'river-Murat'}
{'country': 'TR', 'id': 'river-Karasu'}
{'country': 'IR', 'id': 'river-Karun'}
{'country': 'R', 'id': 'river-Noerdliche_Dwina'}
{'country': 'R', 'id': 'river-Suchona'}
{'country': 'R', 'id': 'river-Petschora'}
{'country': 'R', 'id': 'river-Newa'}
{'country': 'R', 'id': 'river-Swir'}
{'country': 'R EW', 'id': 'river-Narva'}
{'country': 'BY LV R', 'id': 'river-Westliche_Dwina'}
{'country': 'UA MD', 'id': 'river-Dnister'}
{'country': 'BY UA R', 'id': 'river-Dnepr'}
{'country': 'BY UA', 'id': 'river-Prypjat'}
{'country': 'R', 'id': 'river-Don'}
{'country': 'R', 'id': 'river-Wolga'}
{'country': 'R', 'id': 'river-Oka'}
{'country': 'R', 'id': 'river-Kama'}
{'country': 'R KAZ', 'id': 'river-Ural'}
{'country': 'R', 'id': 'river-Ob'}
{'country': 'R KAZ CN', 'id': 'river-Irtysch'}
{'country': 'R KAZ', 'id': 'river-Tobol'}
{'country': 'R KAZ', 'id': 'river-Ischim'}
{'country': 'R', 'id': 'river-Katun'}
{'country': 'R', 'id': 'river-Jenissej'}
{'country': 'R', 'id': 'river-Angara'}
{'country': 'R MNG', 'id': 'river-Selenge'}
{'country': 'R', 'id': 'river-Chatanga'}
{'country': 'R', 'id': 'river-Lena'}
{'country': 'R CN', 'id': 'river-Amur'}
{'country': 'R', 'id': 'river-Schilka'}
{'country': 'R CN', 'id': 'river-Argun'}
{'country': 'R', 'id': 'river-Kolyma'}
{'country': 'KAZ UZB TAD', 'id': 'river-Syrdarja'}
{'country': 'UZB KGZ', 'id': 'river-Naryn'}
{'country': 'TAD AFG TM UZB', 'id': 'river-Amudarja'}
{'country': 'AFG TAD', 'id': 'river-Pjandsh'}
{'country': 'TAD', 'id': 'river-Bartang'}
{'country': 'TAD AFG', 'id': 'river-Murgab'}
{'country': 'CN KAZ', 'id': 'river-Ili'}
{'country': 'CN', 'id': 'river-Tarim'}
{'country': 'CN', 'id': 'river-Hwangho'}
{'country': 'CN', 'id': 'river-Jangtse'}
{'country': 'CN LAO THA K VN', 'id': 'river-Mekong'}
{'country': 'MYA CN', 'id': 'river-Saluen'}
{'country': 'MYA CN', 'id': 'river-Irawaddy'}
{'country': 'IND BD', 'id': 'river-Ganges'}
{'country': 'CN IND BD', 'id': 'river-Brahmaputra'}
{'country': 'PK IND CN', 'id': 'river-Indus'}
{'country': 'RI', 'id': 'river-Asahan'}
{'country': 'CDN USA', 'id': 'river-Yukon'}
{'country': 'CDN', 'id': 'river-Mackenzie'}
{'country': 'CDN', 'id': 'river-NelsonRiver'}
{'country': 'CDN', 'id': 'river-SaskatchewanRiver'}
{'country': 'CDN USA', 'id': 'river-StLorenzstrom'}
{'country': 'CDN USA', 'id': 'river-NiagaraRiver'}
{'country': 'CDN USA', 'id': 'river-DetroitRiver'}
{'country': 'CDN USA', 'id': 'river-Saint-Marys-River'}
{'country': 'USA', 'id': 'river-Straits-of-Mackinac'}
{'country': 'CDN', 'id': 'river-Manicouagan'}
{'country': 'CDN', 'id': 'river-Richelieu'}
{'country': 'USA', 'id': 'river-MerrimackRiver'}
{'country': 'USA', 'id': 'river-Connecticut_River'}
{'country': 'USA', 'id': 'river-Hudson_River'}
{'country': 'USA', 'id': 'river-Mississippi_River'}
{'country': 'USA', 'id': 'river-Missouri_River'}
{'country': 'USA', 'id': 'river-Arkansas_River'}
{'country': 'USA', 'id': 'river-Ohio'}
{'country': 'USA', 'id': 'river-Allegheny'}
{'country': 'USA', 'id': 'river-TennesseeRiver'}
{'country': 'CDN USA', 'id': 'river-Columbia_River'}
{'country': 'USA', 'id': 'river-TruckeeRiver'}
{'country': 'MEX USA', 'id': 'river-Colorado_River'}
{'country': 'MEX USA', 'id': 'river-RioGrande'}
{'country': 'MEX', 'id': 'river-RioLerma'}
{'country': 'NIC CR', 'id': 'river-RioSanJuan'}
{'country': 'BOL', 'id': 'river-Desaguadero'}
{'country': 'CO', 'id': 'river-RioMagdalena'}
{'country': 'YV CO', 'id': 'river-Orinoco'}
{'country': 'CO BR PE', 'id': 'river-Amazonas'}
{'country': 'BR CO', 'id': 'river-RioNegro'}
{'country': 'BR BOL', 'id': 'river-RioMadeira'}
{'country': 'BOL', 'id': 'river-RioMamore'}
{'country': 'BR', 'id': 'river-Tocantins'}
{'country': 'BR', 'id': 'river-RioSaoFrancisco'}
{'country': 'RA BR PY', 'id': 'river-Parana'}
{'country': 'RA BR PY', 'id': 'river-Paraguay'}
{'country': 'BR ROU RA', 'id': 'river-Uruguay'}
{'country': 'RG WAG SN', 'id': 'river-Gambia'}
{'country': 'RMM RIM SN RG', 'id': 'river-Senegal'}
{'country': 'GH BF', 'id': 'river-Volta'}
{'country': 'RMM RN WAN RG', 'id': 'river-Niger'}
{'country': 'RMM CI', 'id': 'river-Bani'}
{'country': 'WAN CAM', 'id': 'river-Benue'}
{'country': 'TCH CAM RCA', 'id': 'river-Schari'}
{'country': 'ET SUD', 'id': 'river-Nil'}
{'country': 'SUD ETH', 'id': 'river-Atbara'}
{'country': 'SUD ETH', 'id': 'river-Blauer_Nil'}
{'country': 'SUD SSD', 'id': 'river-Weisser_Nil'}
{'country': 'SSD', 'id': 'river-Sobat'}
{'country': 'SSD ETH', 'id': 'river-Pibor'}
{'country': 'SSD ETH', 'id': 'river-Baro'}
{'country': 'SSD', 'id': 'river-Bahr_el-Gasal'}
{'country': 'SSD EAU', 'id': 'river-Bahr_el-Djebel'}
{'country': 'ZRE EAU', 'id': 'river-Semliki'}
{'country': 'EAU', 'id': 'river-ViktoriaNil'}
{'country': 'EAT RWA EAU', 'id': 'river-Akagera'}
{'country': 'ETH SP', 'id': 'river-Jubba'}
{'country': 'ETH SP', 'id': 'river-Shabelle'}
{'country': 'CAM', 'id': 'river-Sanaga'}
{'country': 'RCB ZRE', 'id': 'river-Zaire'}
{'country': 'CAM RCA RCB', 'id': 'river-Sanga'}
{'country': 'ZRE RCA RCB', 'id': 'river-Ubangi'}
{'country': 'ZRE RCA', 'id': 'river-Bomu'}
{'country': 'ZRE', 'id': 'river-Uelle'}
{'country': 'ZRE', 'id': 'river-Kwa'}
{'country': 'ZRE', 'id': 'river-Fimi'}
{'country': 'ZRE', 'id': 'river-Lukenie'}
{'country': 'ANG ZRE', 'id': 'river-Kasai'}
{'country': 'ANG ZRE', 'id': 'river-Kuango'}
{'country': 'ANG ZRE', 'id': 'river-Kwilu'}
{'country': 'ZRE', 'id': 'river-Ruki'}
{'country': 'ZRE', 'id': 'river-Busira'}
{'country': 'ZRE', 'id': 'river-Tshuapa'}
{'country': 'ZRE', 'id': 'river-Lulua'}
{'country': 'ZRE', 'id': 'river-Lomami'}
{'country': 'ZRE', 'id': 'river-Aruwimi'}
{'country': 'ZRE', 'id': 'river-Lualaba'}
{'country': 'ZRE', 'id': 'river-Lukuga'}
{'country': 'ZRE RWA BI', 'id': 'river-Ruzizi'}
{'country': 'ZRE', 'id': 'river-Luvua'}
{'country': 'ZRE Z', 'id': 'river-Luapula'}
{'country': 'ANG NAM RB Z ZW MOC', 'id': 'river-Sambesi'}
{'country': 'MW MOC', 'id': 'river-Shire'}
{'country': 'ANG NAM RB', 'id': 'Okavango'}
{'country': 'RSA MOC ZW RB', 'id': 'river-Limpopo'}
{'country': 'LS NAM RSA', 'id': 'river-Oranje'}
{'country': 'RSA', 'id': 'river-Vaal'}
{'country': 'AUS', 'id': 'river-MurrayRiver'}
{'country': 'AUS', 'id': 'river-DarlingRiver'}
{'country': 'AUS', 'id': 'river-MurrumbidgeeRiver'}
{'country': 'AUS', 'id': 'river-Eucumbene'}
{'country': 'AUS', 'id': 'river-SnowyRiver'}